/* Standard Settings */

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat_SemiBold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Rochester;
    src: url(fonts/Rochester-Regular.ttf);
}

@font-face {
    font-family: Ruda_Bold;
    src: url(fonts/Ruda-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.container {
    width: 1440px;
}

/* Header Styles */

.header {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: center;
    background-color: #FFBA40;
    opacity: 0.55;
}

.header_nav {
    margin-left: 223px;
    height: 69px;
}

.header_nav_link {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    display: inline;
}

.header_nav_link2 {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    margin-left: 95.97px;
    display: inline;
}

.header_nav_title{
    font-size: 48px;
    font-family: Rochester;
    color: #000;
    text-decoration: none;
    margin-left: 95.97px;
    display: inline;
}

/* Intro Styles */

.intro {
    display: flex;
    justify-content: center;
    background-image: url(img/intro/bg.png);
    background-size: cover;
    width: 100%;
    height: 898.12px;
}

.intro_title {
    font-size: 80px;
    font-family: Montserrat;
    color: #fff;
    margin-top: 366px;
    text-align: center;
}

.intro_quote-block {
    width: 452px;
    height: 65px;
    background-color: #fff;
    opacity: 0.1;
    border-radius: 10px;
    margin-left: 888px;
    margin-top: 255px;
}

.intro_quote-block_text {
    font-size: 18px;
    font-family: Montserrat;
    color: #fff;
    position: absolute;
    left: 908px;
    top: 740px;
}

.intro_quote-block_border {
    width: 10px;
    height: 65px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 889px;
    top: 719px;
}

/* 1st Section Styles */

.city {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1040px;
    background-color: #f8dba9;
}

.city_title {
    font-size: 36px;
    font-family: Montserrat_SemiBold;
    color: #000;
    margin-top: 52px;
    text-align: center;
}

.city_img {
    width: 940px;
    height: 565.46px;
    border-radius: 20px;
    margin-top: 45px;
    margin-left: 200px;
}

.city_text-under-img {
    font-size: 70px;
    font-family: Ruda_Bold;
    color: #fff;
    position: absolute;
    left: 873px;
    top: 1344px;
}

.city_text-block {
    width: 940px;
    height: 243px;
    background-color: #fff;
    opacity: 0.3;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 54.54px;
}

.city_text-block_text {
    font-size: 15px;
    font-family: Montserrat;
    color: #000;
    position: absolute;
    left: 240px;
    top: 1685px;
}

.city_text-block_text2 {
    font-size: 15px;
    font-family: Montserrat;
    color: #000;
    position: absolute;
    left: 240px;
    top: 1789px;
}

.city_text-block_border {
    width: 25.08px;
    height: 243px;
    position: absolute;
    left: 200px;
    top: 1663px;
    background-color: #fff;
    border-radius: 10px;
}

/* 2nd Section Styles */

.review {
    height: 896px;
    display: flex;
    justify-content: center;
}

.review_title {
    font-size: 36px;
    font-family: Montserrat_SemiBold;
    color: #000;
    margin-top: 37px;
    text-align: center;
}

.review_video {
    margin-top: 58px; margin-bottom: 40px;
    margin-left: 120px; margin-right: 120px;
}

/* 3nd Section Styles */

.sight {
    margin-top: 20px;
    height: 5700px;
    display: flex;
    justify-content: center;
    background-color: #ffc9408a;
}

.sight_title {
    font-size: 36px;
    font-family: Montserrat_SemiBold;
    color: #000;
    margin-top: 33px;
    text-align: center;
    width: 100%;
}

/* 1st Section in 3nd Styles */

.sight_nest_title {
    font-size: 30px;
    font-family: Montserrat_Medium;
    color: #000;
    margin-top: 28px;
    width: 100%;
    text-align: center;
}

.sight_nest_img {
    width: 1236px;
    height: 696px;
    margin-top: 70px;
    margin-left: 51px;
}

.sight_nest_text-block {
    width: 950px;
    height: 140px;
    border-radius: 10px;
    margin-top: 56px;
    margin-left: 200px;
    background-color: #fff;
    opacity: 0.2;
}

.sight_nest_text-block_text {
    font-size: 15px;
    font-family: Montserrat;
    color: #000;
    position: absolute;
    top: 3845px;
    left: 250px;
}

.sight_nest_text-block_border {
    width: 29px;
    height: 140px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 3821px;
    left: 200px;
}

.sight_nest_collage {
    width: 1174px;
    height: 683px;
    margin-top: 62px;
    margin-left: 51px;
}

.sight_nest_collage_img2 {
    position: absolute;
    top: 4382px;
    left: 470px;
}

.sight_nest_collage_img3 {
    margin-bottom: 345px;
    margin-left: 10px;
}

/* 2nd Section in 3nd Styles */

.sight_castle_title {
    font-size: 30px;
    font-family: Montserrat_Medium;
    color: #000;
    margin-top: 81px;
    text-align: center;
}

.sight_castle_img {
    width: 1236px;
    height: 696px;
    margin-top: 70px;
    margin-left: 51px;
}

.sight_castle_block-text {
    background-color: #fff;
    opacity: 0.2;
    width: 950px;
    height: 140px;
    border-radius: 10px;
    margin-top: 56.64px;
    margin-left: 200px;
}

.sight_castle_block-text_text {
    font-size: 15px;
    font-family: Montserrat;
    color: #000;
    position: absolute;
    top: 5670px;
    left: 260px;
}

.sight_castle_block-text_border {
    width: 29px;
    height: 140px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 5654px;
    left: 200px;
}

.sight_castle_collage {
    width: 1174px;
    height: 751px;
    margin-top: 62px;
    margin-left: 51px;
}

.sight_castle_collage_img1 {
    margin-right: 39px;
    margin-bottom: 22px;
}

.sight_castle_collage_img3 {
    position: absolute;
    top: 5855px;
    left: 800px;
}

/* 3nd Section in 3nd */

.slight_palace_title {
    font-size: 30px;
    font-family: Montserrat_Medium;
    color: #000;
    margin-top: 81px;
    text-align: center;
}

.slight_palace_img {
    width: 1236px;
    height: 696px;
    margin-top: 70px;
    margin-left: 51px;
}

.slight_palace_block-text {
    background-color: #fff;
    opacity: 0.2;
    width: 950px;
    height: 100px;
    border-radius: 10px;
    margin-top: 56.64px;
    margin-left: 200px;
}

.slight_palace_block-text_text {
    font-size: 15px;
    font-family: Montserrat;
    color: #000;
    position: absolute;
    top: 7560px;
    left: 250px;
}

.slight_palace_block-text_border {
    width: 29px;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 7550px;
    left: 200px;
}

.slight_palace_collage {
    width: 1174px;
    height: 751px;
    margin-top: 62px;
    margin-left: 51px;
}

.slight_palace_collage_img1 {
    margin-right: 39px;
    margin-bottom: 25px;
}

.slight_palace_collage_img3 {
    position: absolute;
    top: 7710px;
    left: 780px;
}

/* Footer Styles */

.footer {
    background-color: #f7bd5b;
    height: 300px;
}

.footer_title {
    font-size: 60px;
    font-family: Rochester;
    color: #fff;
    position: absolute;
    top: 8570px;
    margin-left: 40px;
}

.footer_connection {
    position: absolute;
    top: 8570px;
    margin-left: 842px;
    display: flex;
    flex-direction: column;
}

.footer_connection_socials {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.footer_connectin_socials_icon {
    width: 70px;
    height: 70px;
}

.footer_connection_number {
    font-size: 30px;
    font-family: Montserrat;
    color: #fff;
    margin-top: 29px;
}

.footer_connecrion_email {
    font-size: 30px;
    font-family: Montserrat;
    color: #fff;
    margin-top: 19px;
}
